OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o
SLACK_WEBHOOK_URL=

KUBECONFIG_HOST_PATH=/Users/your-user/.kube/config
AWS_CONFIG_HOST_PATH=/Users/your-user/.aws
AWS_PROFILE=
PROMETHEUS_URL=http://prometheus-sit.dozee.int
LOKI_URL=http://host.docker.internal:3100
